<footer>
  <div class="footer-content">
    <div class="footer-text">
      <p>&copy;RaceRoom Leaderboards Explorer</p>
      <p>Website not affiliated with RaceRoom™.<br/>The RaceRoom™ brand belongs to its rightful owner.</p><br/>
      <p>hello@r3e-leaderboards.info</p>
    </div>
    <div class="footer-donate">
      <a href="https://ko-fi.com/shay_rle" target="_blank" rel="noopener" class="donate-button" title="Support r3e-leaderboards via ko-fi">
        <span>🔧 Support r3e-leaderboards</span>
      </a>
      <a href="https://www.raceroomstore.com/shop_en/list_page?cat=24" target="_blank" rel="noopener" class="raceroom-button" title="Support RaceRoom">
        <img src="images/rrre.png" alt="RaceRoom virtual Racing Points store" class="raceroom-icon" />
        <span>Support RaceRoom</span>
      </a>
    </div>
  </div>
</footer>
